extends ../../layout
block content
  h2 Agregar Nuevo Paciente
  form(action=`/paciente/${create ? 'crear' : 'actualizar'}`, method='POST')
    .form-group
      input.form-control(type='text', name='nombre_paciente', placeholder='Nombre', required)
    .form-group
      input.form-control(type='text', name='apellido_paciente', placeholder='Apellido', required)
    .form-group
      input.form-control(type='text', name='documento_paciente', placeholder='Documento', required)
    .form-group
      input.form-control(type='date', name='fecha_nac', placeholder='Fecha de Nacimiento', required)
    .form-group
      select.form-control(name='sexo_paciente', required)
        option(value='Masculino') Masculino
        option(value='Femenino') Femenino
        option(value='Otro') Otro
    .form-group
      label(for="obraSocialSelect") Obra Social
      select#obraSocialSelect.form-control(name="id_os")  
        option(value="") Seleccione una obra social
          each os in obras_sociales
            option(value=os.id_os) #{os.nombre_os}
    .form-group
      label(for="planSelect") Plan
      select#planSelect.form-control(name="id_plan") 
        option(value="") Seleccione un plan
      button.btn.btn-primary(type='submit') Crear 
block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script.
    $(document).ready(function() {
      $('#obraSocialSelect').change(function() { 
        const obraSocialID = $(this).val();
        if (obraSocialID) {
          $.ajax({
            url: `/paciente/planes/${obraSocialID}`,
            method: 'GET',
            success: function(data) {
              $('#planSelect').empty();
              $('#planSelect').append(new Option('Selecciona un plan', ''));
              data.forEach(plan => {
                $('#planSelect').append(new Option(plan.plan, plan.id_plan));
              });
            },
            error: function(err) {
              console.error('Error al obtener los planes: ', err);
            }
          });
        } else {
          $('#planSelect').empty();
          $('#planSelect').append(new Option('Seleccione un plan', ''));
        }
      });
    });