doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/login.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    body 
        .container
            h1 Bienvenido!
            div#buttons-container.text-center
                button#ingresar-btn.btn.btn-custom.btn-block.mb-3 Ingresar
                button#registrar-btn.btn.btn-secondary.btn-block Registrar

            div#login-form-container.hidden
                button#volver-btn.btn.btn-secondary.btn-block.mb-3 Volver
                form#loginForm
                    .form-group
                        label(for="documento") Documento:
                        input.form-control(type="text" name="documento" id="documento" required)
                        small#documento-error.hidden(style="color: #FFBF00;") sólo se permiten números*
                        small#non-documento.hidden(style="color: #FFBF00;") documento no encontrado*
                    .form-group
                        label(for="password") Contraseña:
                        input.form-control(type="password" name="password" id="password" required)
                    button.btn.btn-custom.btn-block(type="submit") Ingresar
        
        script.
            $(document).ready(function() {
                let documentoValido = true;
              $('#ingresar-btn').click(function() {
                $('#buttons-container').hide();
                $('#login-form-container').show();
              });
              $('#volver-btn').click(function() {
                $('#login-form-container').hide();
                $('#buttons-container').show();
              });
              $('#registrar-btn').click(function() {
                window.location.href = '/crear';
              });
              
              $('#documento').on('input', function() {
                    const value = $(this).val();
                    const isValid = /^\d*$/.test(value);
                    documentoValido = false;

                    if (!isValid) {
                        $('#documento-error').removeClass('hidden');
                        $('#documento').addClass('is-invalid');
                        $('#non-documento').addClass('hidden');
                    } else {
                        $('#documento-error').addClass('hidden');
                        $('#documento').removeClass('is-invalid');

                        if (value) {
                            $.ajax({
                                url: `/verificarUser/${value}`,
                                method: 'GET',
                                success: function(data) {
                                    if (data.exists) {
                                        $('#non-documento').addClass('hidden');
                                        $('#documento').removeClass('is-invalid');
                                        documentoValido = true;
                                    } else {
                                        $('#non-documento').removeClass('hidden');
                                        $('#documento').addClass('is-invalid');
                                        documentoValido = false;
                                    }
                                }
                            });
                        } else {
                            $('#non-documento').addClass('hidden');
                            $('#documento').removeClass('is-invalid');
                        }
                    }   
                });

              $('#loginForm').submit(function(event) {
                    if (!documentoValido) {
                        event.preventDefault();
                        $('#non-documento').removeClass('hidden');
                        $('#documento').addClass('is-invalid');
                    } else {
                        event.preventDefault();
                        const documento = $('#documento').val();
                        const password = $('#password').val();

                        $.ajax({
                            url: '/',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({ documento, password }),
                            success: function(response) {
                                window.location.href = '/paciente';
                            },
                            error: function(e) {
                                const errorMessage = e.responseJSON && e.responseJSON.message ? e.responseJSON.message : 'Error al iniciar sesión';
                                alert(errorMessage);
                            }
                        });
                    }
                });
            });