doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/login.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    body 
        .container
            h1 Bienvenido!
            div#buttons-container.text-center
                button#ingresar-btn.btn.btn-custom.btn-block.mb-3 Ingresar
                button#registrar-btn.btn.btn-secondary.btn-block Registrar

            div#login-form-container.hidden
                button#volver-btn.btn.btn-secondary.btn-block.mb-3 Volver
                form#loginForm
                    .form-group
                        label(for="documento") Documento:
                        input.form-control(type="text" name="documento" id="documento" required)
                    .form-group
                        label(for="password") Contraseña:
                        input.form-control(type="password" name="password" id="password" required)
                    button.btn.btn-custom.btn-block(type="submit") Ingresar
        
        script.
            $(document).ready(function() {
              $('#ingresar-btn').click(function() {
                $('#buttons-container').hide();
                $('#login-form-container').show();
              });
              $('#volver-btn').click(function() {
                $('#login-form-container').hide();
                $('#buttons-container').show();
              });
              $('#registrar-btn').click(function() {
                window.location.href = '/crear';
              });

              $('#loginForm').submit(function(event) {
                  event.preventDefault()
                  const documento = $('#documento').val();
                  const password = $('#password').val();

                  $.ajax({
                      url: '/',
                      type: 'POST',
                      contentType: 'application/json',
                      data: JSON.stringify({ documento, password }),
                      success: function(response) {
                          setTimeout(()=>{
                            window.location.href = '/protected';
                          },1000)
                      },
                      error: function(e) {
                          const errorMessage = e.responseJSON && e.responseJSON.message ? e.responseJSON.message : 'Error al iniciar sesión';
                          alert(errorMessage);
                      }
                  });
              });
            });