extends ../../layout

block content
    .container
        h1 Detalles del Paciente

        dl.row
            each user in users
                dt.col-sm-2 Nombre
                dd.col-sm-10 
            